<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WeatherPy</title>
</head>

<body>
  <section>
    <h1>Global Surface temperature anamolies since 1880</h1>
    <article>
    <a target="_blank" href="/static/images/Global surface temperature anamolies since 1880.png">
      <img src="/static/images/Global surface temperature anamolies since 1880.png" alt="Global Surface temperature anamolies">
    </a>
    <h1><em>Global annual temperature anamolies since 1880</em></h1>
    <article>
    <a target="_blank" href="/static/images/Global_annual_temperature_anamolies_since_1880.png">
    <img src="/static/images/Global_annual_temperature_anamolies_since_1880.png" alt="Global annual temperature anamolies">
    </a>
    <h1><em>Per Capita Global CO2 Emission Since 1960</em></h1>
    </article>
      <a href="/static/images/Global_CO2_Emission_Since_1960.png">
      <img target="_blank" src="/static/images/Global_CO2_Emission_Since_1960.png" alt="TGlobal CO2 Emission">
      </a>
      <p><em>Temperature Chart</em></p>
    </article>
    <hr>
     <h1><em>Global Temperature Anamoly Forecast</em></h1>
    </article>

      <a target="_blank" href="../images/GlobalTempAnamoly_fbProhet.png">
      <img src="/static/images/GlobalTempAnamoly_fbProhet.png" alt="Global Temperature Anamoly Forecast">
      </a>
      <figcaption><em>Global Temperature Anamoly Forecast</em></figcaption>
    </figure>
  </section>
</body>

</html>
